$color-wenge: #66545E;
$color-beige: #F1EBE5;
$color-darkbrown: #3A241A;
$color-darkorange: #B04008;
$color-blue: #0517c1;
$color-orange: #ffaa00;
$color-violet: #b400ff;
$sidebarwd: 15rem;
$contentwd: 64rem;

$mediawd: (
  mobile: 320px,
  tablet: 769px,
  desktop: 1025px,
  wide: 1441px,
) !default;